.data_entry{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 250px);
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border: #0017ff 2px solid;
z-index: 200;
}
