.item {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cities_in_game{
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;

}
.game_results{
    position: absolute;
    top:80vh;
    left: 0vw;
    z-index: 120;
/*background-color: gainsboro;*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}

.nLink{
    position: absolute;
    top:0;
    left: 0;
    z-index: 120;
}


.visited_continents__sa{
    font-size: 60px;
    color: chartreuse;
    position: absolute;
    top:43%;
    left: 28%;
}

.city {
    position: absolute;
    font-size: 0.9em;
    z-index: 50;
}


.city__selected {
    position: relative;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgba(0, 23, 255, 0.7);
    font-size: 18px;

}

.city__selected:hover {
    position: relative;
    top: -5px;
    left: -5px;
    border-radius: 30px;
    background-color: #0017ff;
    cursor: pointer;
}

.city__no_selected {
    position: relative;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: rgba(255, 60, 0, 0.7);

}

.city__no_selected:hover {
    position: relative;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #ff3c00;
    cursor: pointer;
}

.city__name{
    display: block;
    position: relative;
    top: -18px;
    left: 5px;
    font-size: 9px;

}


.total_cost{
    font-size: 30px;
}

.continentsList {
    display: inline-block;

}

.game_results__way{
    font-size: 10px;
}

.world_map {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.north_america{
    position: absolute;
    z-index: 2;
}

.gri{
   fill: #d5ffab;
}